form(action = '/register', method = 'POST', name='signup')
    div
       label(for = 'user') user:
       input(name = 'user' value = '')
    br
    //div
    //   label(for = 'csr') csr (pem): 
    //   input(name = 'csr' value = '')
    button(type = 'submit') Register